{
  "$schema": "https://opencode.ai/config.json",
  "permission": {
    "websearch": "allow"
  },
  "lsp": {},
  "mcp": {
    "browsermcp": {
      "type": "local",
      "command": [
        "bunx",
        "@browsermcp/mcp@latest"
      ]
    }{{- if eq .chezmoi.hostname "bazzite" }},
    "mikrotik": {
      "type": "local",
      "command": [
        "mikrotik-mcp",
        "{env:MIKROTIK_IP_ADDRESS}",
      ],
      "enabled": true,
      "environment": {
        "MIKROTIK_USER": "admin",
        "MIKROTIK_PASSWORD": "{env:MIKROTIK_PASSWORD}",
        "MIKROTIK_API_SSL": "false"
      }
    },
    "memory": {
      "type": "local",
      "command": [
        "bunx",
        "@modelcontextprotocol/server-memory"
      ],
      "enabled": true,
      "environment": {
        "MEMORY_FILE_PATH": "/var/home/lava/.local/share/opencode/memory.jsonl"
      }
    }{{- end }}
  }
}